@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?sxm26v');
    src:    url('fonts/icomoon.eot?sxm26v#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?sxm26v') format('truetype'),
        url('fonts/icomoon.woff?sxm26v') format('woff'),
        url('fonts/icomoon.svg?sxm26v#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-polar3:before {
    content: "\e901";
}
.icon-polar:before {
    content: "\e900";
}
.icon-polar2:before {
    content: "\1f300";
}

